<div class="container">

  <div class="row justify-content-center">

    <div class="col-5 my-3">
        <h1><%= @shelter.name.titleize %></h1>
        <%= image_tag @shelter.avatar.url(:medium) %><br><br>
          <% if shelter_employee?(@shelter) %>
            <h4><%= link_to "Edit Info", edit_shelter_path %><h4>
            <h4><%= link_to "Add a Pet for Adoption Here", list_pet_path %></h4>
          <% end %>
    </div>

    <div class="col-4 my-3">

      <h4>Description:</h4><h6><%= @shelter.description %></h6>
      <br>
      <h4>Address:</h4>
      <h6>
        <%= @shelter.location.street_address %><br>
        <%= @shelter.location.city %>, <%= @shelter.location.state %>
      </h6>
      <br>
      <h4>Telephone:</h4><h6><%= @shelter.telephone_number %></h6><br>
      <h4>Email:</h4><h6><%= @shelter.email_address %></h6><br>
      <h4>Website:</h4><h6><%= link_to @shelter.website, @shelter.website %></h6><br>

    </div>

      <div class="col-3 my-3">
        <% recent_pets = @shelter.pets.select{|pet| pet.adoption_status == false}.last(3) %>
        <h1>Pets for Adoption</h1><br>
        <% if !recent_pets.empty? %>
          <% recent_pets.each do |pet| %>
            <div class="">
              <%= image_tag pet.avatar.url(:thumb) %><br><br>
            </div>
          <% end %>
          <%= link_to "See More Here", shelters_pets_path, class:"btn btn-danger" %>
        </div>
      <% else %>
        <h6 class="alert alert-dark">Please check back later.</h6><br>
        <p class="alert alert-success">Enjoy this in the meantime!</p>
        <img src="https://media.giphy.com/media/VzLR6oO6MzybC/giphy.gif" width="300px" alt="">
      <% end %>
  </div>
</div>
