<div class="container">

  <div class="row justify-content-center">
    <div class="col-4 my-3">

      <h1><%= @shelter.name %></h1>
      <br>
      <h4>Description:</h4><h6><%= @shelter.description %></h6>
      <br>
      <h4>Address:</h4>
      <h6>
        <%= @shelter.location.street_address %><br>
        <%= @shelter.location.city %>, <%= @shelter.location.state %>
      </h6>
      <br>
      <h4>Telephone:</h4><h6><%= @shelter.telephone_number %></h6><br>
      <h4>Email:</h4><h6><%= @shelter.email_address %></h6><br>
      <h4>Website:</h4><h6><%= link_to @shelter.website, @shelter.website %></h6><br>


    </div>

    <div class="row justify-content-center">
      <div class="col-8 my-3">
        <% if employee? %>
          <%= link_to "Edit Profile", edit_shelter_path %><br><br>
          <%= link_to "Add a Pet for Adoption Here", list_pet_path %>
        <% end %>
      </div>
    </div>

  </div>
</div>
