<div class="container my-3">

  <div class="row justify-content-center">
    <% if flash[:notice] %>
    <div class="notice bg-warning"><span class="text-danger">x </span><%= flash[:notice] %></div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <h1>Login to Adopt Today!</h1>
  </div>
  <br>
  <div class="row justify-content-center">
    <%= form_for :sessions, url: '/login' do |f| %>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Click to login", class:"btn btn-info" %>
    <% end %>
  </div>
  <br><br>
</div>
