<div class="container">
  <div class="row justify-content-center">
    <% @pet.errors.any? do %>
    <h2>
      <%= pluralize(@pet.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <div class="notice bg-warning"><ul>
      <% @pet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul></div>
    <% end %>
  </div>

  <div class="row justify-content-center">

    <%= form_for @pet, html: { multipart: true, style: "margin:0; padding:0; width: 500px;", :class => "form-horizontal center"} do |f| %>

      <% if @pet.avatar.exists? %>
        <%= image_tag @pet.avatar.url(:thumb) %><br/>
      <% end %>

      <h5><%= f.label :avatar, "Add a lovely picture of the cutie here" %></h5>
      <%= f.file_field :avatar, class: "btn btn-outline-info" %><br>
      <%= f.check_box :delete_avatar %>Delete Image<br/>

      <br><br>
      <%= f.label :name, class:"heading col-md-4" %>
      <%= f.text_field :name, class: "col-md-6" %>
      <br>
      <%= f.label :age, class:"heading col-md-4" %>
      <%= f.number_field :age, class: "col-md-6" %>
      <br>
      <%= f.label :gender, class:"heading col-md-4" %>
      Male <%= f.radio_button(:gender, "M", :checked => (@pet.gender == "M")) %>
      Female <%= f.radio_button(:gender, "F", :checked => (@pet.gender == "F")) %>
      <br>
      <%= f.label :bio, class:"heading col-md-4" %>
      <%= f.text_area :bio, class: "col-md-6" %>
      <br>
      <%= f.label :pet_type, class:"heading col-md-4" %>
      <%= f.text_field :pet_type, class: "col-md-6" %>
      <br>
      <%= f.label :breed, class:"heading col-md-4" %>
      <%= f.text_field :breed, class: "col-md-6" %>
      <br>
      <%= f.label :temperament, class:"heading col-md-4" %>
      <%= f.text_field :temperament, class: "col-md-6" %>
      <br>
      <%= f.label :single_pet, "Loner pet?", class:"heading col-md-4" %>
      Yes <%= f.radio_button(:single_pet, true, :checked => (@pet.single_pet == true)) %>
      No <%= f.radio_button(:single_pet, false, :checked => (@pet.single_pet == false)) %>
      <br>
      <%= f.label :family_friendly, class:"heading col-md-4" %>
      Yes <%= f.radio_button(:family_friendly, true, :checked => (@pet.family_friendly == true)) %>
      No <%= f.radio_button(:family_friendly, false, :checked => (@pet.family_friendly == false)) %>

      <br><br>

      <%= f.submit "Post the Cutie here", class: "btn btn-outline-success" %>
    <% end %>

  </div>
</div>
