<div class="container">
  <% if flash[:message] %>
    <div class="alert alert-warning">
      <%= flash[:message] %>
    </div>
  <% end %>

    <div class="row justify-content-center my-3">
      <div class="col-md">
        <h1>ALL THE PETS IN DA WORLD</h1>
      </div>
      <div class="justify-content-end">
        <%= form_tag search_path, method: :get, class: "form-inline my-2 my-lg-2" do %>
          <%= text_field_tag(:search) %>
          <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
      </div>
    </div>
</div>

<br>
<div class="container" style="max-width: 1000px">
  <div class="row">
    <% @pets.each do |pet| %>
    <div class="col">
      <a href="<%= pet_path(pet) %>">
        <%= image_tag pet.avatar.url{:medium} %><br>
      </a>
      <%= link_to pet.name, pet_path(pet), class:"btn btn-link" %>
    </div>
    <% end %>
  </div>
</div>
