<div class="container">

  <div class="row justify-content-center">
    <% @user.errors.any? do %>
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <div class="notice bg-warning"><ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul></div>
    <% end %>
  </div>

  <div class="row justify-content-center">

    <%= form_for setup_user(@user), html: {multipart: true} do |f| %>

      <% if @user.avatar.exists? %>
      <%= image_tag @user.avatar.url(:thumb) %><br/>
      <% end %>

        <h5><%= f.label :avatar, "Add a lovely picture of yourself here" %></h5>
        <%= f.file_field :avatar, class: "btn btn-success" %><br>
        <%= f.check_box :delete_avatar %>Delete Image<br/>

        <br><br><br>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :age %>
        <%= f.number_field :age, min: 16, max: 122 %>
        <br>
        <%= f.label :dwelling_type %>
        <%= f.text_field :dwelling_type %>
        <br>
        <%= f.label :household_members %>
        <%= f.number_field :household_members, min: 1 %>
        <br>
        <%= f.label :bio %>
        <%= f.text_area :bio %>
        <br>
        <%= f.label :kids, "Kids at home? " %>
        Yes <%= f.radio_button(:kids, true, :checked => (:kids == true)) %>
        N/A <%= f.radio_button(:kids, false, :checked => (:kids == false)) %>
        <br>
        <%= f.label :shelter_employee, "Representing a Shelter?" %>
        Yes <%= f.radio_button(:shelter_employee, true, :checked => (:shelter_employee == true)) %>
        N/A <%= f.radio_button(:shelter_employee, false, :checked => (:shelter_employee == false)) %>
        <br>

        <%= f.fields_for :locations do |loc| %>
          <%= loc.label :street_address %>
          <%= loc.text_field :street_address, value: @user.location.street_address %>
          <br>
          <%= loc.label :city %>
          <%= loc.text_field :city, value: @user.location.city %>
          <br>
          <%= loc.label :state %>
          <%= loc.collection_select :state, Location.states, :name, :code, {:selected => @user.location.state} %>
          <br>
          <%= loc.label :country %>
          <%= loc.collection_select :country, Carmen::Country.all, :name, :name, {:selected => @user.location.country} %>
          <br>
        <% end %><br>

          <%= f.label :email_address %>
          <%= f.email_field :email_address %>
          <br>
          <%= f.label :password %>
          <%= f.password_field :password %>
          <br><br>

          <% if @user.shelter_employee && @user.shelter_employee == true  %>
            <%= f.label :employer_id, "Employer: " %>
            <%= f.collection_select :employer_id, @shelters, :id, :name, {:selected => @user.employer} %>
          <% end %>
          <br>

      <%= f.submit "Click Here To Create Yourself", class: "btn btn-info" %>
    <% end %>

  </div>

</div>
