<h1>Home Address</h1>

<%= form_for @user do |f| %>
  <%= f.fields_for :locations do |loc| %>
    <%= loc.label :street_address %>
    <%= loc.text_field :street_address %>
    <br>
    <%= loc.label :city %>
    <%= loc.text_field :city %>
    <br>
    <%= loc.label :state %>
    <%= loc.text_field :state %>
    <br>
    <%= loc.label :country %>
    <%= loc.text_field :country %>
  <% end %>
  <br><br>
  <%= f.submit %>
<% end %>
