<h1>Login Details</h1>

<%= form_for @user do |f| %>
  <%= f.label :email_address %>
  <%= f.email_field :email_address %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit %>
<% end %>
