
<div class="container">
  <div class="row justify-content-start">
<!-- FIRST COLUMN AREA FOR USER NAME AND PICTURE -->
    <div class="col-5 my-3">
        <h1><%= @user.name.capitalize %></h1>
        <%= image_tag @user.avatar.url(:medium) %><br><br>
        <h4><%= link_to "Edit Profile", edit_user_path(@user) %><h4>
    </div>
<!-- MIDDLE COLUMN FOR USER DETAILS -->
    <div class="col-5 my-3">
        <h4 >Dwelling Type: </h4>
        <h6><%= @user.dwelling_type%></h6>
        <br>
        <h4>Address:</h4>
        <h6>
          <%= @user.location.street_address %><br>
          <%= @user.location.city.capitalize %>, <%= @user.location.state %>
        </h6>
        <br>
        <h4>Age:</h4>
        <h6>
          <%= @user.age %></p>
        </h6>
        <% if @user.kids == true %>
        <h4>Kids:</h4>
        <h6>
          <%= "Yes" %>
        </h6>
        <% end %>
        <% if @user.shelter_employee == true %>
          <% if @user.employer_id != nil %>
            <h4>Employed by:</h4>
            <h6>
              <%= link_to @user.employer.name, shelter_path(@user.employer) %>
            </h6>
          <% end %>
        <% end %>
        <br>
        <h4>Household Members:</h4>
        <h6>
          <%= @user.household_members %>
        </h6>
        <br>
        <h4>Bio:</h4>
        <h6>
          <%= @user.bio %>
        </h6>
        <br>
        <h4>E-mail:</h4>
        <h6>
          <%= @user.email_address %>
        </h6>
    </div>
<!-- RIGHT COLUMN FOR LINKS FOR OTHER ACTIONS -->
    <div class="col-2 my-3">
      <% if !@user.pets.empty? %>
        <h1>Pets YOU Adopted!!! YAY!</h1><br>
        <% if @user.pets.count > 3 %>
          <% pets = @user.pets.last(3) %>
        <% else %>
          <% pets = @user.pets %>
        <% end %>
        <% pets.each do |pet| %>
          <div class="">
            <%= image_tag pet.avatar.url(:thumb) %><br><br>
          </div>
        <% end %>

        <%= link_to "See More Here", users_pets_path, class:"btn btn-danger" %>
        
      <% end %>
    </div>
<!-- END OF CONTAINER -->
  </div>
</div>
